html {
	scroll-behavior: smooth;

	
}


body {



	font-family: verdana;
	background-image: linear-gradient(180deg, rgb(6, 50, 72), rgb(255, 255, 255));
	background-attachment: fixed;
	

}



/* CABEÃ‡ALHO	--------------------------  */


.container-head { 
	
	display: flex;
	justify-content: space-between; /* cria espaÃ§o entre os itens do container */
	width: auto;
	height: 65px;
	border-radius: 10px;
	border-style:ridge ;
	border-width: 5px;
	background-image: linear-gradient(90deg, rgb(139, 173, 64), rgb(255, 255, 255));
	position: sticky;   
    top: 10;
	z-index: 2;	
	opacity: 0.9;

		
}


.container-logo { 
	
	display: flex;
	order: 1;
	width: 241px;
	border:6px inset #ffffff;
	align-items: center;
	transform: scale(0.95);
	margin-left: -5px;
	
	
	
	
}

.logo {
	
	margin-left: -148px;
	transform: scale(0.45);
			
}


.container-logo:hover {
     	
	
	box-shadow: 0 5px 25px rgb(12, 0, 5);
	border:6px inset #ffffff;
	transition: 0.1s;
	transform: scale(1.1);
	
	
	
}




.container-menus {
		
	display: flex;
	order: 2;
	align-items:flex-start;
	justify-content: space-between; /* cria espaÃ§o entre os itens do container */
	width: 1000;
				
}


.container-ul1 {
	
	display:flex;
	order: 1;	
	width: 770px;
	justify-content: space-between;
	padding: 0px;
	margin-left: 0px;
	margin-top: 14px;
	text-align:center;
	list-style: none;
	text-transform: uppercase;
	font-size: 16;
	font-style: italic;
	font-weight: bold;
	
		
	
}


.ul11-menu-itens {
	
	display:flex;
	order: 1;	
	width: 770px;
	justify-content: space-between;
	padding: 0px;
	margin-left: 0px;
	margin-top: 0px;
	text-align:center;
	list-style: none;
	text-transform: uppercase;
	font-size: 16;
	font-style: italic;
	font-weight: bold;
	
		
	
}


.ul11-menu {  /* ICONE DO MENU ESCONDIDO */
		
	display:none;
	width: 50px;
	height: 50px;
	font-size: 40px;
					
}



.ul11 {
	
	width: 300px;
	margin: 2px;
	padding: 4px;
	color: #fff;
	background-color: #525151;
	border-radius: 20px;
	border-color: #fff;
	border-style:solid;
	border-width: 2px;
	cursor:pointer;
	transform: scale(0.9);
	
	
			
}


a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

.shadow:hover {
     	
	
	box-shadow: 0 5px 25px rgb(12, 0, 5);
	border-style: none;
	transition: 0.1s;
	transform: scale(1.1);
	
	
}


.container-ul2 {
			
	display: flex;
	order:  2;
	width: 300px;
	justify-content: space-between;
	padding: 0px;
	margin-right: 40px;
	margin-top: 10px;
	list-style: none;
	transform: scale(0.8);
	
	
		
}

.container-ul2 img {

	border-radius: 20%;
	
	
}

.links-sociais {

	transform: scale(0.7);

}




.links-sociais:hover {

	transform: scale(1.3);
	transition: 0.1s;

}


/*  FADE DA PÃGINA	--------------------------  */



@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; } 
	}
	
.fadeIn {
	-webkit-animation: fadeIn 2s ease-in-out;
	-ms-animation: fadeIn 2s ease-in-out;
	-o-animation: fadeIn 2s ease-in-out;
	-moz-animation: fadeIn 2s ease-in-out;

				
	}




/* TEXTO 01	--------------------------  */

.container-texto-01 {
		
	display: flex;
	justify-content: center;
	height: 130px;
	transform: scale(0.8);
					
}

.ul-texto-01 {
	
	text-align: center;
	padding: 0px;
	list-style: none;
	font-size: 20;
		
}


.texto-01 {
	
	justify-content: center;
	padding: 4px;
	color: #fff;
	font-size: 45px;
	animation-name: fly-01;
	animation-duration: 2.0s;
	animation-timing-function:ease-in-out;
					
}

.texto-02 {
	
	justify-content: center;
	padding: 4px;
	color: #fff;
	font-size: 25px;
	animation-name: fly-01;
	animation-duration: 3.0s;
	animation-timing-function:ease-in-out;
				
}


@keyframes fly-01 {

	0% {
		
		-webkit-transform: translateY(1000px);
		-moz-transform: translateY(1000px);
		-ms-transform: translateY(1000px);
		-o-transform: translateY(1000px);
		opacity: 0;
			
	}


	50% {
		
		-webkit-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		-o-transform: translateY(-100px);
		opacity: 1;
			
	}


	100%{
		
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		opacity: 1;
	
	}
	
}



/* IMAGENS 01	--------------------------  */

.container-imagens-01 {
		
	display: flex;
	justify-content: space-evenly;
	height: 300px;
	transform: scale(0.7);
			
}


.imagem-01 {
	
	display: flex;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 animation-duration: 1.0s;
	 border-style:outset;
	border-width: 10px;
	-webkit-animation-name: fly-01-img;
	-moz-animation-name: fly-01-img;
	-ms-animation-name: fly-01-img;
	-o-animation-name: fly-01-img;
		
				
}



.imagem-02 {
	
	display: flex;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 animation-duration: 2.0s;
	 border-style:outset;
	 border-width: 10px;
	 -webkit-animation-name: fly-01-img;
	-moz-animation-name: fly-01-img;
	-ms-animation-name: fly-01-img;
	-o-animation-name: fly-01-img;
	
				
}


.imagem-03 {
	
	display: flex;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 animation-duration: 3.0s;
	 border-style:outset;
	 border-width: 10px;
	 -webkit-animation-name: fly-01-img;
	-moz-animation-name: fly-01-img;
	-ms-animation-name: fly-01-img;
	-o-animation-name: fly-01-img;
	
					
}


/* IMAGENS 02	--------------------------  */

.container-imagens-02 {
		
	display: flex;
	justify-content: space-evenly;
	height: 300px;
	transform: scale(0.7);
			
}


.imagem-04 {
	
	display: flex;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 animation-duration: 4.0s;
	 border-style:outset;
	border-width: 10px;
	-webkit-animation-name: fly-01-img;
	-moz-animation-name: fly-01-img;
	-ms-animation-name: fly-01-img;
	-o-animation-name: fly-01-img;
	 				
}



.imagem-05 {
	
	display: flex;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 animation-duration: 5.0s;
	 border-style:outset;
	 border-width: 10px;
	 -webkit-animation-name: fly-01-img;
	-moz-animation-name: fly-01-img;
	-ms-animation-name: fly-01-img;
	-o-animation-name: fly-01-img;
	
				
}


.imagem-06 {
	
	display: flex;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 animation-duration: 6.0s;
	 border-style:outset;
	 border-width: 10px;
	 -webkit-animation-name: fly-01-img;
	-moz-animation-name: fly-01-img;
	-ms-animation-name: fly-01-img;
	-o-animation-name: fly-01-img;
	
					
}



.imagem-01:hover, .imagem-02:hover, .imagem-03:hover, .imagem-04:hover, .imagem-05:hover, .imagem-06:hover  {

	transform: scale(1.5);
	transition: 0.3s;
	
	

}


@keyframes fly-01-img {

	0% {
		
		-webkit-transform: translateX(1000px);
		-moz-transform: translateX(1000px);
		-ms-transform: translateX(1000px);
		-o-transform: translateX(1000px);
		opacity: 0;
			
	}

	100%{
		
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		opacity: 1;
	
	}
	
}










/* TEXTO 02	--------------------------  */

.container-texto-02 {
		
	display: flex;
	justify-content: center;
	height: 130px;
	transform: scale(0.8);
					
}

.ul-texto-02 {
	
	text-align: center;
	padding: 0px;
	list-style: none;
	font-size: 20;
		
}


.texto-03 {
	
	justify-content: center;
	padding: 4px;
	color: #fff;
	font-size: 45px;
	animation-timing-function:ease-in-out;

					
}

.texto-04 {
	
	justify-content: center;
	padding: 4px;
	color: #fff;
	font-size: 25px;
	animation-timing-function:ease-in-out;
	
				
}




/* IMAGENS 03	--------------------------  */

.container-imagens-03 {
		
	display: flex;
	justify-content: space-evenly;
	height: 300px;
	transform: scale(0.8);
	
	
			
}


.caixa-imagem-07 {

	display: flex;
	text-align: center;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 transform: scale(0.9);
	 
	


}


.caixa-imagem-08 {

	display: flex;
	text-align: center;
	width: auto; 
	max-height: 100%; 
	
	

}



.caixa-imagem-09 {

	display: flex;
	text-align: center;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 
	
}



/* IMAGENS 04	--------------------------  */

.container-imagens-04 {
		
	display: flex;
	justify-content: space-evenly;
	height: 300px;
	transform: scale(0.8);
	
			
}


.caixa-imagem-10 {

	display: flex;
	text-align: center;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 
	


}



.caixa-imagem-11 {

	display: flex;
	text-align: center;
	width: auto; 
	max-height: 100%; 
	 
	


}



.caixa-imagem-12 {

	display: flex;
	text-align: center;
	width: auto; 
	margin: 10px;
 	max-height: 100%; 
	 
	
}



.imagem-07, .imagem-08, .imagem-09, .imagem-10, .imagem-11, .imagem-12 {
	
	width: auto; 
	max-height: 100%; 
	 cursor:pointer;
	 border-style:outset;
	 border-width: 10px;
	 	
				
}

.texto-imagem-07, .texto-imagem-08, .texto-imagem-09, .texto-imagem-10, .texto-imagem-11, .texto-imagem-12 {

	width: 100%;
	text-align: center;
	font-size: 22px;
	color: rgb(5, 68, 24);
	border-style:solid;
	border-radius: 10px;
	border-color: #fff;
	border-width: 2px;
	

}



.caixa-imagem-07:hover, .caixa-imagem-08:hover, .caixa-imagem-09:hover, .caixa-imagem-10:hover, .caixa-imagem-11:hover, .caixa-imagem-12:hover  {

	transform: scale(1.3);
	transition: 0.3s;
	
	

}


















/* VÃDEO ELE */


















footer { 
	
	display: flex;
	width: auto;
	height: 115px;
	text-align: left;
    align-items: center;
	line-height: 18px;
	border-radius: 10px;
	border-style:ridge ;
	border-width: 5px;
	background-image: linear-gradient(90deg, rgb(0, 161, 80), rgb(15, 15, 15));
	
	

		
}

/* MOBILE -------------------------------------------------------- */


@media only screen and (max-device-width: 795px){


	
	
	.container-logo { 
		position: absolute;
		left: 450px;
		top: 60px;
		height: 59px;
		transform: scale(2.3);
			
		
	}
		
	
	.container-head { 
	
		width: 1600px;
		height: 220px;
		opacity: 0.9;
					
	}

	.container-menus {
		
		display: flex;
		width: 1500;
					
	}
	


	.container-ul1 {
	
		display:flex;
		flex-direction: column;
		width: 200px;
		justify-content: space-between;
					
	}
	

	.ul11 {  /* ESCONDE OS MENUS */
	
		display:none;
							
	}
	



	.ul11-menu {  /* ICONE DO MENU */
		
		display:flex;
		width: 50px;
		height: 50px;
		margin-left: 20px;
		transform: scaleX(1.5);
						
	}


	.container-ul1:hover ul li  { /* REVELA OS MENUS QUANDO SE CLICA NA LI ul11-menu */
	
		display:block;
					
	}

	
	.ul11-menu-itens {
	
		display:block;
		margin-left: 700px;
		margin-top: 100px;
		transform: scale(2.9);
				
	}

	
	.container-ul2 {
		
		position: absolute;
		width: 400px;
		left: 1200px;
		margin-top: 30px;
		
	}

	.links-sociais {

		transform: scale(2.5);

	}


	.ul-texto-01 {
	
		height: 400px;
		
			
	}
	


		
	.texto-01 {
		
		font-size: 100px;
							
	}
	
	.texto-02 {
		
		font-size: 70px;
					
	}
	
	
	.container-texto-01 {
		
		width: 1800px;
		margin-left: -100px;
		
		
						
	}

	.container-imagens-01, .container-imagens-02 {
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 500px;
		width: 1600px;
		height: 1000px;
		
		
				
	}


	.imagem-01, .imagem-02, .imagem-03, .imagem-04, .imagem-05, .imagem-06 {

		justify-content: center;
		
		
			


	}

	
	.container-texto-02 {
		
		display: flex;
		justify-content: center;
		width: 1600px;
		margin-top: 400px;
		margin-left: -30px;

				
	}


		
	.texto-03 {
		
		font-size: 100px;
		
						
	}
	
	.texto-04 {
		
		font-size: 70px;
					
	}


	.container-imagens-03 {
		
		display: flex;
		justify-content:center;
		margin-top: 200px;
		margin-left: 0px;
		width: 1600px;
		height: 750px;
					
				
	}

	.container-imagens-04 {
		
		display: flex;
		flex-direction:row;
		justify-content:center;
		margin-top: 200px;
		margin-left: 0px;
		width: 1600px;
		height: 500px;
		
				
	}


	
	.imagem-07, .imagem-08, .imagem-09, .imagem-10, .imagem-11, .imagem-12 {

		justify-content: center;
		height: 800px;
		transform: scale(0.9);
		
	}

	.texto-imagem-07, .texto-imagem-08, .texto-imagem-09, .texto-imagem-10, .texto-imagem-11, .texto-imagem-12 {

		font-size: 50px;
		border-width: 0px;


	}


	footer { 
	
		transform: scale(2.0);
		margin-left: 420px;
		width: 800px;
		height: 150px;
		
			
	}
	
	
	
	

	
}
	

	




  /* Animação */

  /* Animação X ------------------------------------------------*/
  
  
  
  [data-anime-X="fly-02-texto-03"] { /* Posição inicial do texto 03 - 1000 */

		-webkit-transform: translateX(1000px);
		-moz-transform: translateX(1000px);
		-ms-transform: translateX(1000px);
		-o-transform: translateX(1000px);
		opacity: 0;
					
	}

	[data-anime-X="fly-02-texto-04"] {  /* Posição inicial do texto 04 - 2000 */

  		-webkit-transform: translateX(2000px);
		-moz-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		-o-transform: translateX(2000px);
		opacity: 0;
					
	}

    
	[data-anime-X].animate-X {  /* Animação dos textos 03 e 04 para a posição original - 0 */
	
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		opacity: 1;
		transition: 1s;
	
}
	

/* Animação Y ------------------------------------------------*/

	[data-anime-Y="fly-02-img-07"] { /* Posição inicial da imagem 07 - 1000 */

  		-webkit-transform: translateY(1000px);
		-moz-transform: translateY(1000px);
		-ms-transform: translateY(1000px);
		-o-transform: translateY(1000px);
		opacity: 0;
			
	}


	[data-anime-Y="fly-02-img-08"] { /* Posição inicial da imagem 08 - 200 */

		-webkit-transform: translateY(2000px);
	  -moz-transform: translateY(2000px);
	  -ms-transform: translateY(2000px);
	  -o-transform: translateY(2000px);
	  opacity: 0;
		  
  }


  [data-anime-Y="fly-02-img-09"] { /* Posição inicial da imagem 09 - 3000 */

	-webkit-transform: translateY(3000px);
  -moz-transform: translateY(3000px);
  -ms-transform: translateY(3000px);
  -o-transform: translateY(3000px);
  opacity: 0;
	  
}



[data-anime-Y="fly-02-img-10"] { /* Posição inicial da imagem 10 - 4000 */

	-webkit-transform: translateY(4000px);
  -moz-transform: translateY(4000px);
  -ms-transform: translateY(4000px);
  -o-transform: translateY(4000px);
  opacity: 0;
	  
}


[data-anime-Y="fly-02-img-11"] { /* Posição inicial da imagem 10 - 5000 */

	-webkit-transform: translateY(5000px);
  -moz-transform: translateY(5000px);
  -ms-transform: translateY(5000px);
  -o-transform: translateY(5000px);
  opacity: 0;
	  
}


[data-anime-Y="fly-02-img-12"] { /* Posição inicial da imagem 12 - 6000 */

	-webkit-transform: translateY(6000px);
  -moz-transform: translateY(6000px);
  -ms-transform: translateY(6000px);
  -o-transform: translateY(6000px);
  opacity: 0;
	  
}


	[data-anime-Y].animate-Y { /* Animação das imagens  07 em diante para a posição original - 0 */
	
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		opacity: 1;
		transition: 3s;
	
}

	
	

	
  



/* Animação X2 ------------------------------------------------*/
  
  
  
[data-anime-X2="fly-02-texto-03"] { /* Posição inicial do texto 03 - 1000 */

	-webkit-transform: translateX(1000px);
	-moz-transform: translateX(1000px);
	-ms-transform: translateX(1000px);
	-o-transform: translateX(1000px);
	opacity: 0;
				
}

[data-anime-X2="fly-02-texto-04"] {  /* Posição inicial do texto 04 - 2000 */

	  -webkit-transform: translateX(2000px);
	-moz-transform: translateX(2000px);
	-ms-transform: translateX(2000px);
	-o-transform: translateX(2000px);
	opacity: 0;
				
}


[data-anime-X2].animate-X2 {  /* Animação dos textos 03 e 04 para a posição original - 0 */

	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	opacity: 1;
	transition: 1s;

}


/* Animação Y2 ------------------------------------------------*/

[data-anime-Y2="fly-02-img-07"] { /* Posição inicial da imagem 07 - 1000 */

	  -webkit-transform: translateY(1000px);
	-moz-transform: translateY(1000px);
	-ms-transform: translateY(1000px);
	-o-transform: translateY(1000px);
	opacity: 0;
		
}


[data-anime-Y2="fly-02-img-08"] { /* Posição inicial da imagem 08 - 8000 */

	-webkit-transform: translateY(2000px);
  -moz-transform: translateY(2000px);
  -ms-transform: translateY(2000px);
  -o-transform: translateY(2000px);
  opacity: 0;
	  
}


[data-anime-Y2="fly-02-img-09"] { /* Posição inicial da imagem 09 - 9000 */

-webkit-transform: translateY(3000px);
-moz-transform: translateY(3000px);
-ms-transform: translateY(3000px);
-o-transform: translateY(3000px);
opacity: 0;
  
}



[data-anime-Y2="fly-02-img-10"] { /* Posição inicial da imagem 10 - 10000 */

-webkit-transform: translateY(4000px);
-moz-transform: translateY(4000px);
-ms-transform: translateY(4000px);
-o-transform: translateY(4000px);
opacity: 0;
  
}


[data-anime-Y2="fly-02-img-11"] { /* Posição inicial da imagem 10 - 11000 */

-webkit-transform: translateY(5000px);
-moz-transform: translateY(5000px);
-ms-transform: translateY(5000px);
-o-transform: translateY(5000px);
opacity: 0;
  
}


[data-anime-Y2="fly-02-img-12"] { /* Posição inicial da imagem 12 - 12000 */

-webkit-transform: translateY(6000px);
-moz-transform: translateY(6000px);
-ms-transform: translateY(6000px);
-o-transform: translateY(6000px);
opacity: 0;
  
}


[data-anime-Y2].animate-Y2 { /* Animação das imagens  07 em diante para a posição original - 0 */

	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	opacity: 1;
	transition: 3s;

}




